<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Persona Generator</title>
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar navbar-light bg-success">
      <div class="container-fluid">
        <span class="navbar-brand h1 m-auto">&#11088;&#11088;&#11088; Persona Generator &#11088;&#11088;&#11088;</span>
      </div>
    </nav>
    <!-- <img src="/static/images/random-face.jgp" alt="" srcset=""> -->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <img src="{{ person_image }}" id="avatar" alt="Person_image">
    <!-- <img src="/static/images/random-face.jpg" alt="" srcset=""> -->

      <div class="data">
        {{ image_data }}
      </div>


  </body>
</html>
