<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
    <meta name="author" content="Inovatik">

   <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="PersonaGenerator" /> <!-- website name -->
	<meta property="og:site" content="http://personagenerator.ddns.net/" /> <!-- website link -->
	<meta property="og:title" content="PersonaGenerator"/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="we generate personas!!!" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="static/image/logo.png" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="http://personagenerator.ddns.net/" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>PersonaGenerator</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/fontawesome-all.css" rel="stylesheet">
    <link href="static/css/swiper.css" rel="stylesheet">
    <link href="static/css/magnific-popup.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">

    <style>
      body {
          background-color: #5f4dee;
      }
  </style>
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container">
    
                <!-- Text Logo - Use this if you don't have a graphic logo -->
                <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->
    
                <!-- Image Logo -->
                <a class="navbar-brand logo-image" href="/"><img src="static/images/logo.png" alt="alternative"></a> 
                
                <!-- Mobile Menu Toggle Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-awesome fas fa-bars"></span>
                    <span class="navbar-toggler-awesome fas fa-times"></span>
                </button>
                <!-- end of mobile menu toggle button -->
    
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="/">HOME </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="/logout">LOGOUT</a>
                        </li>
                    </ul>
                    <span class="nav-item">
                        <a class="btn-outline-sm" href="/login">LOG IN</a>
                    </span>
                </div>
            </div> <!-- end of container -->
        </nav> <!-- end of navbar -->
        <!-- end of navigation -->

        <p><br> <br> <br> <br> </p>
        <div class="container mt-5">
          <div class="row align-items-center">
    
            <div class="col">
              <img src="{{ person_image }}" id="avatar" class="img-fluid" alt="Person_image" />
              <table class="table">
                <tbody>
                  <tr class="table-primary">
                    <th scope="row">Name</th>
                    <td>{{ name }}</td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">Age</th>
                    <td>{{  age }}</td>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row">Job</th>
                    <td>{{ job }}</td>
                  </tr>
                  <tr class="table-success">
                    <th scope="row">Education</th>
                    <td>{{ education }}</td>
                  </tr>
                  <tr class="table-danger">
                    <th scope="row">Hobbies</th>
                    <td>{{ hobbies }}</td>
                  </tr>
                  <tr class="table-info">
                    <th scope="row">Hometown</th>
                    <td>{{ hometown }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div class="col data">
              <div class="card">
                <div class="card-header text-center">Background</div>  
                <div class="card-body text-center">{{ image_data }}</div>
                  <div class="card-footer text-center">
                      {% if user %}
                          <button class="btn btn-primary" onclick="window.location.href='/admin'">Refresh</button>
                      {% else %}
                          <button class="btn btn-primary" onclick="window.location.href='/persona'">Refresh</button>
                      {% endif %}
                  </div>
              </div>
          </div>



    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="static/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="static/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="static/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="static/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="static/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="static/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>